[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-frome
Exec=harbour-frome
Name=Frome

[X-Sailjail]
OrganizationName=org.arustg
ApplicationName=harbour-frome
Permissions=
