[Desktop Entry]
Type=Application
Name=Frome
Icon=harbour-frome
Exec=harbour-frome

[X-Sailjail]
Sandboxing=Enabled
OrganizationName=openrepos.net
ApplicationName=Frome
